
<div class="center jumbotron">
  <h1>wooooo</h1>
  
  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
</div>

<section><img src="http://farm4.static.flickr.com/3465/3267318368_9ef3258350.jpg?v=0" alt="nice" width="100%"></section>
<section>woo</section>
<footer></footer>