<h1>Nick's Sweet Ass Homepage</h1>
<%= link_to 'About', pages_about_path %>
<section><img src="http://farm4.static.flickr.com/3465/3267318368_9ef3258350.jpg?v=0" alt="nice" width="100%"></section>
<section>woo</section>
<footer></footer>